PORT=3000

DATABASE_URL=PEGAR_URL_DE_SUPABASE
ARASAAC_API_BASE_URL=https://api.arasaac.org/api
ARASAAC_STATIC_URL=https://static.arasaac.org/pictograms
# REDIS_URL=redis://localhost:6379
NOTIFICATION_WORKER_CONCURRENCY=5
START_NOTIFICATION_WORKER=true
