PORT=3000

DATABASE_URL=PEGAR_URL_DE_SUPABASE
ARASAAC_API_BASE_URL=https://api.arasaac.org/api
ARASAAC_STATIC_URL=https://static.arasaac.org/pictograms
ARASAAC_PICTOGRAMS_SYNC_PATH=/pictograms/{language}/all
ARASAAC_REQUEST_TIMEOUT_MS=30000
PICTOGRAM_SYNC_ENABLED=false
PICTOGRAM_SYNC_ON_START=false
PICTOGRAM_SYNC_LANGUAGE=es
PICTOGRAM_SYNC_INTERVAL_DAYS=30
# REDIS_URL=redis://localhost:6379
NOTIFICATION_WORKER_CONCURRENCY=5
START_NOTIFICATION_WORKER=true
